html {
  color-scheme: dark;
  scrollbar-color: #686868 #424242;
}

body {
  background: #272b3a;
  color: #fff;
  font-family: Arial, sans-serif;
  // font-size: 1.5rem;
}

.order-heading {
  text-align: center;
}

.container {
  // margin: 20px 200px;
  display: flex;
  justify-content: center;
  // flex-direction: column;
}

input {
  /* appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none; */
  border: none;
  outline: none;
}

button.add {
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
}

input[type="submit"] {
  padding: 0.7rem 1.3rem;
  border: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: rgb(80, 80, 80);
}

input[type="text"] {
  margin-bottom: 10px;
  background: #272b3a;
  color: #fff;
  border: 2px solid #414454;
  height: 32px;
}

select {
  margin-bottom: 10px;
}

// .nav {
//   margin-top: 50px;
// }

input.submit {
  background: #ff5873;
  color: white;
}

.sltnone {
  user-select: none !important;
}

.order form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
}

select {
  padding: 8px 6px;
  font-size: 0.95rem;
}

option {
  padding: 10px;
}

.order {
  // width: 100%;
}

.order-item {
  border: 2px solid #5b75eb;
  border-radius: 10px;
  margin-bottom: 10px;
}

.order-item h4 {
  background: #5b75eb;
  padding: 8px 12px;
  border-radius: 5px;
  margin-top: 0;
}

.order-item label {
  margin-left: 5px;
}

.order {
  width: 520px;
}

input.half {
  // width: 50%;
  // margin-bottom: 0;
}

// .orders-added {
//   display: flex;
// }

.hide {
  display: none;
  // visibility: hidden;
}

.purchase-list {
  // display: flex;
  // justify-content: center;
  list-style-type: none;
}

.purchase-list li {
  text-decoration: none;
  background-color: #303b6e;
  padding: 5px 12px;
  // display: flex;
}

.purchase-list li span.value {
  float: right;
  margin-right: 50px;
}

.purchase-list li span.value.num {
  // display: flex;
  // flex-direction: row;
  // width: 80%;
}

// .purchase-list li span.value.num {
// }
