html {
  color-scheme: dark;
  scrollbar-color: #686868 #424242;
}

body {
  background: #272b3a;
  color: #fff;
  font-family: Arial, sans-serif;
  // font-size: 1.5rem;
}

.order-heading {
  text-align: center;
}

.container {
  // margin: auto;
  display: flex;
  justify-content: center;
  // flex-direction: column;
}

input {
  /* appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none; */
  border: none;
  outline: none;
}

input[type="submit"] {
  padding: 0.7rem 1.3rem;
  border: 0;
  margin-top: 5px;
}

input[type="text"] {
  margin-bottom: 10px;
  background: #272b3a;
  color: #fff;
  border: 2px solid #414454;
  height: 32px;
}

select {
  margin-bottom: 10px;
}

// .nav {
//   margin-top: 50px;
// }

input.submit {
  background: #ff5873;
  color: white;
}

.sltnone {
  user-select: none !important;
}

.order form {
  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 1rem;
}

select {
  padding: 8px 6px;
  font-size: 0.95rem;
}
