body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  background: #202020;
}

.navbar a {
  font-size: 30px;
  text-decoration: none;
  padding: 1.5px 15px;
  color: white;
  background-color: #2c2c2c;
  border-top: 4px solid #2c2c2c;
  border-bottom: 4px solid #2c2c2c;
}

.navbar a.active {
  background: #3a3a3a !important;
  border-top: 4px solid #2e6de0;
  border-bottom: 4px solid #3a3a3a;
  /* opacity: 0.9; */
}

.navbar form {
  border-top: 4px solid #2c2c2c;
  border-bottom: 4px solid #2c2c2c;
}

.navbar a:hover {
  text-decoration: underline;
}

.danger {
  color: white !important;
  background-color: red !important;
  border-top: 4px solid red !important;
  border-bottom: 4px solid red !important;
  /* padding: auto 1.5px; */
}

.logout {
  margin-left: auto;
}

.btnToggle {
  font-size: 30px;
  text-decoration: none;
  padding: 1.5px 15px;
  color: white;
  background-color: #2c2c2c;
  border: 0;
  cursor: pointer;
}

.btnToggle:hover {
  text-decoration: underline;
}

.btnModify {
  color: white;
  background-color: #256dca;
  padding: 5px 25px;
  font-weight: 600;
  text-decoration: none;
  float:left;
}

.btnModify:hover {
  color: white;
  background-color: #1d5aaa;
  text-decoration: underline;
}
