body {
  margin: 0;
}

#stock {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#stock td, #stock th {
  border: 1px solid #ddd;
  padding: 8px;
}

#stock tr:nth-child(even){background-color: #f2f2f2;}

#stock tr:hover {background-color: #ddd;}

#stock thead th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3d93ee;
  color: white;
}

#stock tfoot th {
  background-color: #2b2b2b;
  color: white;
}

.disabled td, .disabled th {
  border: 1px solid #ddd;
  padding: 8px;
}

.disabled tr:nth-child(odd){
  background-color: #1f1f1f !important;
  color: #ffffff !important;
}

.disabled tr:nth-child(even){
  background-color: #313131 !important;
  color: #ffffff !important;
}

.disabled tr:hover {
  background-color: #111111 !important;
}

.disabled thead th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #154e99 !important;
  color: white;
}

.disabled tfoot th {
  background-color: #fff;
  color: #2b2b2b;
}


thead > * {
  cursor: pointer;
}


.table-sortable th {
  cursor: pointer;
  user-select: none;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4" !important;
}

.table-sortable .th-sort-desc::after {
  content: "\25be" !important;
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background-color: rgba(36, 112, 198, 0.9) !important;
}
